/*
    Base
 */

/*
    COLORI: 

    primario: #3798dc
    primario scuro: #12293A
    background: #e0e0e0
    testo: #0F1418
    
 */

body {
    background: #e0e0e0;
    font-size: 15px;
    color:#0F1418;
    margin: 0;
}
a {
    color: #3798dc;
}
.logo {
    background: url("../img/logo_color.png") 0 0 no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 130px;
    height: 50px;
    margin: 0;
}
.logo a {
    display: block;
}

.container {
    width: 1024px;
    margin: 0 auto;
    overflow: auto;
}

hr {
    height: 1px;
    color: #ccc;
    background: #ccc;
    font-size: 0;
    border: 0;
}

/*
    Helper
 */
.float {
    overflow: auto;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.float-none {
    float: none;
}
.float-auto {
    float: auto;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/*
    Menu
 */

.menu {
    background: #fff;
    padding: 10px;
}
.menu ul {
    margin: 7px 0;
}
.menu li a {
    color: #666;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.menu li a.button {
    color: #fff;
}
.menu li.active a {
    color: #3798dc;
}
.menu li:hover a {
    color: #12293A;
}

/*
    Submenu
 */

.submenu {
    background: #3798dc;
    height: 60px;
    text-align: center;
    color: #fff;
}

.submenu a {
    color: #12293A;
    text-decoration: none;
    font-size: 21px;
    line-height: 58px;
    font-weight: bold;
}
.submenu a:hover {
    color: #fff;
}
.submenu ul {
    margin: 0;
    height: 60px;
}
.submenu li {
    padding: 0 60px;
    height: 100%;
}
.submenu li.active {
    background: url(../img/arrow.png) no-repeat bottom center;
}
.submenu li.active a {
    color: #fff;
}
.submenu .badge {
    top: -2px;
    position: relative;
}
/*
    Splash
 */

.splash {
    height: 700px;
    background: #222 url(../img/ancona.jpg) no-repeat center center;
}
.splash .container {
    padding-top: 175px;
}
.splash h1, .splash h2 {
    color: #12293A;
}
.splash h1 {
    font-size: 50px;
}
/*
    CTA
 */

.cta {
    position: absolute;
    top: 571px;
    width: 100%;
}
.cta .container {
    height: 100%;
}
.cta .container > div {
    min-height: 200px;
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #eee;
}
/*
    Features
 */
.features {
}
.features .container {
    background: #f3f3f3;
    min-height: 600px;
}
/*
    Footer
 */
.footer {
    background: #333;
    color: #888;
    height: 300px;
}
.footer .container {
    padding: 50px 0;    
}
.footer .logo {
    background-image: url(../img/logo_gray.png);
    display: block;
}
.footer ul a {
    text-decoration: none;
}
/*
    Sidebar
 */
.sidebar {
    min-height: 700px;
    width: 20%;
    display: inline-block;
    float: left;
    background-color: #fff;
}
.sidebar-menu {
    background-color: #e6e6e6;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    min-height: 700px;
    padding: 20px 0;
}
.sidebar-menu b {
    padding: 5px 20px;
}
.sidebar-menu li {
    font-size: 16px;
    padding: 5px 20px;
    margin-bottom: 5px;
}
.sidebar-menu li a {
    color: #666;
    text-decoration: none;
    display: block;
}
.sidebar-menu li:hover a {
    color: #333;
}
.sidebar-menu li:hover {
    background-color: #ccc;
}
.sidebar-menu li.active {
    background-color: #3798dc;
    border-left: 1px solid #2A77AD;
    border-right: 1px solid #2A77AD;
}
.sidebar-menu li.active a {
    color: #fff;
}


/*
    Content
 */
.content {
    min-height: 700px;
    background: #fff;
    width: 80%;
    display: inline-block;
    float: left;
    padding: 20px 15px;
    border-right: 1px solid #ccc;
}
.content .title {
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
/*
    Tables
 */



/****************************************/

/*
 *  Test forms style, hope we won't use decorators
 *  Default Zend decorator packs each form like this:
 *
 *  <form>
 *      <dl class="zend_form">
 *          <dt>Label for the form element</dt>
 *          <dd>
 *              <input> <!--form input element-->
 *              <ul class="errors">
 *                  <li>Error messages</li>
 *              </ul>
 *          </dd>
 *      </dl>
 *  </form>
 *
 *
 *
*/

dl.zend_form     {
    border-radius: 10px;
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
    padding: 1em;
    margin: 2em;
}

dl.zend_form dt {
    float: left;
    text-align: right;
    width: 20%;
    font-weight: bold;
}

dl.zend_form dd {
    margin-left: 20%;
    padding-left: 1em;
    margin-top: 0;
}

dl.zend_form ul {
    display: inline-block;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    font-weight: bold;
    color: red;
}

